<!doctype html>
<html lang="en">
<head>
    <title>Views on Life, Learning, and Tech</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/png">
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <!-- link rel="shortcut icon" href="/assets/img/logo.png" type="image/png"-->
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
<header class=nav-bar>
  <nav>
    <div class=sidebar-button></div>
    <!--div id=bwtoggle></div-->
    <a class="homelink spy" href="/">r<span class=hideable>wx.gg</span></a>
    <div class="nav-right">
      <!-- div id=search-box></div -->
      <ul class=nav-links>
        <li class=nav-item><a class=nav-link href="/boost/">Boosts</a></li>
        <!--
        <li class=nav-item><a class=nav-link href="/how/">HowTos</a></li>
        <li class=nav-item><a class=nav-link href="/contrib/">Contribute</a></li>
        -->
        <li class=nav-item><a class="nav-link" href="https://gitlab.com/rwx.gg/README">GitLab</a></li>
        <li class=nav-item><a class="nav-link" href="https://www.youtube.com/rwxrob">YouTube</a></li>
        <li class=nav-item><a class="nav-link" href="https://discord.gg/9wydZXY">Discord</a></li>
        <li class=nav-item><a class="nav-link" href="https://twitch.tv/rwxrob">Twitch</a></li>
      </ul>
    </div>
  </nav>
</header>
<main id=top>
<div class=container>  <h1 id=title class=duck><a href="https://duckduckgo.com/lite?kae=t&q=Views on Life, Learning, and Tech">Views on Life, Learning, and Tech</a></h1>
  <p>The word <em>view</em> is often a synonym for <em>opinion</em>. Views are inevitably shaped by <a href="/values/">values</a>. Opinions are impossible to escape in life — particularly in the tech world. Opinions are good. Strong opinions are even better if they have been backed with objective research. But opinions can become toxic when mixed with ego and passion becoming explosive, dogmatic, and personal — a struggle most every passionate technologist will face at some point.</p>
  <p>Conflict usually comes from not knowing <em>why</em> a person has a opinion. In fact, most anger can be linked to misunderstanding. Too often technologists <em>start with conclusions</em> without an explanation of how they arrived at them leading to misunderstanding, judgement, anger, and the occasional middle finger.</p>
  <p>For example, the following conclusions are very confrontational:</p>
  <ul>
  <li>Microsoft is awesome!</li>
  <li>React sucks!</li>
  <li>Semicolons are useless in modern JavaScript.</li>
  <li>Python is a horrible first language.</li>
  </ul>
  <p>A bunch of readers just got angry. Many are wondering immediately which conclusions are “right.” More importantly, however, is the question, “Why would someone say these things?”</p>
  <p>Even if your conclusion is backed in objective observation and experience starting with it comes off as trolling and personal when given first—especially because so many technologists are afflicted with <a href="/what/likes/">like-mentality</a> and <a href="https://duck.com/lite?kae=t&amp;q=intellectual%20laziness">intellectual laziness</a> when it comes to researching their own conclusions — or worse — <em>sharing</em> how they arrived at them. Strive to be different. You are better than that.</p>
  <h2 id="learning">Learning</h2>
  <ul>
  <li><p>Creativity, exploration, and controlled failure are key to learning.</p></li>
  <li><p>Every human has an innate right to education and learning.</p></li>
  <li><p>Every member of society has a responsibility to learn and to teach.</p></li>
  <li><p>The most effective members of society are also the strongest <a href="/what/autodidact/">autodidacts</a>.</p></li>
  <li><p>Learning material can’t keep up without being approached like source code.</p></li>
  <li><p>Learning is best one-on-one from someone who has already learned it.</p></li>
  <li><p>Learning retention is best when done over time rather than concentrated.</p></li>
  <li><p>No one is ever done learning including people who call themselves teachers.</p></li>
  <li><p>Age is irrelevant when it comes to learning.</p></li>
  </ul>
  <h2 id="systems-of-education">Systems of Education</h2>
  <ul>
  <li><p>Most schools are deeply flawed because their model fails.</p></li>
  <li><p>College Board and the American AP Computer Science program is very broken.</p></li>
  <li><p>College provides fundamental skills that can be obtained elsewhere.</p></li>
  <li><p>Colleges should drop all assessment entry requirements.</p></li>
  <li><p>College-level education should be free for everyone.</p></li>
  </ul>
  <h2 id="coding">Coding</h2>
  <ul>
  <li><p>Every technologist must learn to code.</p></li>
  <li><p>Knowledge must be treated as code.</p></li>
  <li><p>Pandoc Markdown is the best syntax for knowledge source.</p></li>
  <li><p>Using the Linux command linen <em>is</em> coding.</p></li>
  <li><p>The most <a href="/lang/">important coding languages</a> include structured data and knowledge.</p></li>
  <li><p>The best first language is Bash since</p></li>
  <li><p><a href="/lang/python/">Python</a> is a <em>horrible</em> first language, but an useful secondary language.</p></li>
  <li><p>The <a href="/cognitive-overhead/">cognitive overhead</a> of JavaScript <a href="/semicolon/">semicolons</a> justifies omitting them.</p></li>
  </ul>
  <h2 id="knowledge">Knowledge</h2>
  <h3 id="web-libraries-and-frameworks">Web Libraries and Frameworks</h3>
  <ul>
  <li><p>React.js is bad for the Web because it throws out established standards.</p></li>
  <li><p>Vue.js is better than React.js because it is simpler and follows standards.</p></li>
  <li><p><a href="https://jamstack.com">JAMstack</a> hosted on <a href="https://netlify.com">Netlify</a> is the best approach to web development for most.</p></li>
  </ul>
  <h3 id="tools">Tools</h3>
  <ul>
  <li><p>Every <a href="/fse/">full-stack engineer</a> should master both the graphical editor <a href="/vscode/">VSCode</a> and the command line editor <a href="/vim/">Vim</a> but <em>should use</em> Vim as much as possible.</p></li>
  <li><p>Every offensive security professional should also master the <code>ed</code> editor.</p></li>
  </ul>
  <h3 id="careers-in-technology">Careers in Technology</h3>
  <ul>
  <li><p>Unfortunately some sort of college degree is still required by most.</p></li>
  <li><p>Many technical careers do <em>not</em> require college but certifications help.</p></li>
  <li><p>The school one attends should have nothing to do with being hired.</p></li>
  <li><p>White-board interviews are inaccurate assessments of employability.</p></li>
  <li><p>White-board interviews are ethically wrong.</p></li>
  <li><p>Employability and performance should be measured by merit and results.</p></li>
  </ul>
</main>
<footer>
  <p><a href="/copyright/" id=copyright>© 2020 Rob Muhlestein. Licensed under Creative Commons Attribution-ShareAlike.</a><br/>Does something seem to have changed? <a href="/changes/">Check the change log</a>.
  <br>See something wrong? <a class="nodecor" href="https://gitlab.com/rwx.gg/README/-/issues">Open a ticket</a>.
  </p>
</footer>
<script src="/assets/main.js"></script>
</body>
</html>