<!doctype html>
<html lang="en">
<head>
    <title>Linux Isn’t Dead. GNU Just Killed Itself.</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/png">
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <!-- link rel="shortcut icon" href="/assets/img/logo.png" type="image/png"-->
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
<header class=nav-bar>
  <nav>
    <div class=sidebar-button></div>
    <!--div id=bwtoggle></div-->
    <a class="homelink spy" href="/">r<span class=hideable>wx.gg</span></a>
    <div class="nav-right">
      <!-- div id=search-box></div -->
      <ul class=nav-links>
        <li class=nav-item><a class=nav-link href="/boost/">Boosts</a></li>
        <!--
        <li class=nav-item><a class=nav-link href="/how/">HowTos</a></li>
        <li class=nav-item><a class=nav-link href="/contrib/">Contribute</a></li>
        -->
        <li class=nav-item><a class="nav-link" href="https://gitlab.com/rwx.gg/README">GitLab</a></li>
        <li class=nav-item><a class="nav-link" href="https://www.youtube.com/rwxrob">YouTube</a></li>
        <li class=nav-item><a class="nav-link" href="https://discord.gg/9wydZXY">Discord</a></li>
        <li class=nav-item><a class="nav-link" href="https://twitch.tv/rwxrob">Twitch</a></li>
      </ul>
    </div>
  </nav>
</header>
<main id=top>
<div class=container>  <h1 id=title class=duck><a href="https://duckduckgo.com/lite?kae=t&q=Linux Isn’t Dead. GNU Just Killed Itself.">Linux Isn’t Dead. GNU Just Killed Itself.</a></h1>
  <h2 id=subtitle>And GNU Deserves It</h2>
  <p>The <a href="https://duck.com/lite?kae=t&amp;q=GPLv3">GPLv3</a> license placed on all <a href="https://duck.com/lite?kae=t&amp;q=GNU%20software">GNU software</a> — that was originally intended to cover <a href="https://duck.com/lite?kae=t&amp;q=the%20Linux%20kernel">the Linux kernel</a> as all previous GPL licenses had done until <a href="https://youtu.be/PaKIZ7gJlRU">Linus Torvaldz vetoed it</a> — has destroyed the reputation of the GNU project and indirectly a lot of interest in Linux as well. Software projects and organizations are fleeing GNU as fast as they can. But Linux will remain alive as the short-sighted, over-reaching GNU project and unethical FSF organization slowly die the death they deserve.</p>
  <div class="co-mad">
  <p><a href="/what/gnulinux/">Stop calling it GNU/Linux. It’s disrespectful.</a></p>
  </div>
  <h2 id="tivoization-ignores-hardware-constraints">Tivoization Ignores Hardware Constraints</h2>
  <p>The <a href="https://duck.com/lite?kae=t&amp;q=Tivoization%20clause">Tivoization clause</a> is poorly-conceived, overreaching, and <em>limits</em> freedoms rather than promoting them by going completely against the original intent of the GPLv2 license that was mostly about giving back any changes made to any <em>software</em>. GPLv3 forces <em>hardware</em> makers to provide some way to update the software without any consideration or concern for what a specific user needs related to that hardware.</p>
  <h3 id="arm-with-linux-is-getting-smaller-and-smaller">ARM with Linux is Getting Smaller and Smaller</h3>
  <p>The FSF’s draconian decision to force upgrades of GNU software ignores the reality that devices running GNU software are getting smaller and smaller.</p>
  <div class="co-dum">
  <p>Perhaps this oversight is because some FSF members don’t <em>use</em> modern devices like mobile phones, or they are too old or isolated to understand their value.</p>
  <p>“But you don’t need devices that size and you should give up your ‘Smart’ phones like me!”</p>
  <p>“Ok, boomer.”</p>
  </div>
  <p><a href="https://duck.com/lite?kae=t&amp;q=ARM%20chips">ARM chips</a> have become something of a standard in the IoT world and Linux is usually the pick. But as ARM and RAM chips continue to shrink and <a href="https://duck.com/lite?kae=t&amp;q=microcontrollers">microcontrollers</a> further fall out of favor due to their limitations compared to a <em>full</em> operating system it seems obvious Linux will continue to be installed on smaller and smaller devices. Eventually <em>any</em> physical interface will be impossible. Imagine a lapel pin, baseball cap, belt, conference credential, or door key running Linux.</p>
  <h3 id="we-dont-need-no-stinking-network">We Don’t Need No Stinking Network</h3>
  <p>Many of these devices <em>do not need network connectivity at all.</em> In fact, allowing network access to such a device would be a gross and unnecessary security risk, as is the case with most microcontrollers included in consumer products today. Assuming all devices running <em>any</em> GPLv3 software will have network access is not just short-sighting, it’s fucking idiotic. GPLv3 stops anything licensed with it from being used on <em>any</em> modern or future device that does not have an interface.</p>
  <div class="co-btw">
  <p>The <a href="https://duck.com/lite?kae=t&amp;q=%22smallest%20Linux%20computer%20in%20the%20world%22">“smallest Linux computer in the world”</a> right now is still huge compared to what is possible without providing <em>any</em> network or upgrade interface.</p>
  </div>
  <h3 id="gplv3-software-libraries-are-at-greatest-risk">GPLv3 Software Libraries are at Greatest Risk</h3>
  <p>GPLv3 software libraries lose the most.</p>
  <p>Most of the <a href="https://duck.com/lite?kae=t&amp;q=GNU%20Core%20Utilities">GNU Core Utilities</a> affected by GPLv3 are wasted bloat when the size of the computer running Linux reaches the size of a door key. But who cares about interactive GNU tools at that point. A product designer can create <a href="https://duck.com/lite?kae=t&amp;q=Linux%20From%20Scratch">Linux From Scratch</a> and leave all the useless GNU “utilities” out of it.</p>
  <div class="co-btw">
  <p>Most GNU “core” utilities are ancient boomer tech full of ancient technical debt in need of a safer and more maintainable rewrite anyway at this point. Many of them have <em>already</em> been superseded by better alternatives like <a href="https://k3os.io"><code>k3os</code></a> which is based on Alpine Linux that contains zero GNU code, not even <code>glibc</code>. It’s just a matter of time before the entire GNU core library has a plug-n-play replacement, which will probably be written in Go and/or Rust. Most of <code>k3os</code> and OSes like it are almost entirely in Go these days (except for the Linux kernel, of course).</p>
  </div>
  <p>However, when the product designer begins to choose or develop software for that tiny, no-interface device anything licensed under GPLv3 is automatically ruled out since it’s illegal. Doesn’t matter how good it is. It’s out.</p>
  <p><span class="important">Software engineers choosing to release under GPLv3 have permanently banned themselves from many modern and future Linux devices too small to have an interface.</span></p>
  <p>Stay relevant. Release your software under GPLv2.</p>
  <h2 id="unethical-license-naming-and-release">Unethical License Naming and Release</h2>
  <p>The <a href="https://duck.com/lite?kae=t&amp;q=Free%20Software%20Foundation&#39;s">Free Software Foundation’s</a> <a href="https://youtu.be/PaKIZ7gJlRU?t=196">dirty treatment of the GPLv3 license roll-out</a>, which should have clearly required a new name, was completely unethical and sought to <em>undermine the rights and freedoms</em> of those who had already decided to use GPLv2 “or later” software already installed. Linus Torvaldz and many others rightfully abandoned any work or association to the FSF and GNU and now actively seek software written <em>without</em> the GPLv3 license at all.</p>
  <h2 id="gplv3-is-bad-for-linux">GPLv3 is <em>Bad</em> for Linux</h2>
  <p>What and how software is to be installed and upgraded on hardware is <em>not</em> an FSF decision. Hell, it has more to do with <em>hardware</em> than software. You know, the <em>S</em> in FSF. No doubt the issue of corporate control over devices is a very real concern but the resolution and debate is not related to the software at all. It is a separate issue that needs attention. Forcing a <em>software</em> license to suddenly reduce the freedoms of hardware manufacturers is <em>not</em> the way to resolve it. In fact, it forces the GPLv3 into a hardware licensing space where it simply does not belong — at all.</p>
  <div class="co-fun">
  <p>Maybe the Free <em>Software</em> Foundation should be legally required to change its name to Free <em>Software and Hardware</em> Foundation instead. They are operating way out of their original charter at this point.</p>
  </div>
  <p>All of this means many more device designers are overlooking Linux entirely, not just <a href="https://duck.com/lite?kae=t&amp;q=Apple%20GPLv3%20GNU">Apple</a> and <a href="https://duck.com/lite?kae=t&amp;q=Google%20GPLv3%20GNU%20Fuscia">Google</a>. This is really too bad because it is happening at the same time the capacity for smaller devices to run an entire Linux OS is increasing. GNU licenses were already problematic for most companies, big and small — including those which aren’t as evil as others — but now GNU is simply not an option, and too often they will continue to throw Linux out along with it.</p>
  <p>Linux is not dead. GNU just killed itself.</p>
  <h2 id="see-also">See Also</h2>
  <ul>
  <li><a href="https://youtu.be/PaKIZ7gJlRU">Linus Explains Why He’s Against GPLv3 and FSF</a></li>
  </ul>
</main>
<footer>
  <p><a href="/copyright/" id=copyright>© 2020 Rob Muhlestein. Licensed under Creative Commons Attribution-ShareAlike.</a><br/>Does something seem to have changed? <a href="/changes/">Check the change log</a>.
  <br>See something wrong? <a class="nodecor" href="https://gitlab.com/rwx.gg/README/-/issues">Open a ticket</a>.
  </p>
</footer>
<script src="/assets/main.js"></script>
</body>
</html>