<!doctype html>
<html lang="en">
<head>
    <title>Remote Isn’t the <em>New</em> Normal, It Always Was</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/png">
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <!-- link rel="shortcut icon" href="/assets/img/logo.png" type="image/png"-->
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
<header class=nav-bar>
  <nav>
    <div class=sidebar-button></div>
    <!--div id=bwtoggle></div-->
    <a class="homelink spy" href="/">r<span class=hideable>wx.gg</span></a>
    <div class="nav-right">
      <!-- div id=search-box></div -->
      <ul class=nav-links>
        <li class=nav-item><a class=nav-link href="/boost/">Boosts</a></li>
        <!--
        <li class=nav-item><a class=nav-link href="/how/">HowTos</a></li>
        <li class=nav-item><a class=nav-link href="/contrib/">Contribute</a></li>
        -->
        <li class=nav-item><a class="nav-link" href="https://gitlab.com/rwx.gg/README">GitLab</a></li>
        <li class=nav-item><a class="nav-link" href="https://www.youtube.com/rwxrob">YouTube</a></li>
        <li class=nav-item><a class="nav-link" href="https://discord.gg/9wydZXY">Discord</a></li>
        <li class=nav-item><a class="nav-link" href="https://twitch.tv/rwxrob">Twitch</a></li>
      </ul>
    </div>
  </nav>
</header>
<main id=top>
<div class=container>  <h1 id=title class=duck><a href="https://duckduckgo.com/lite?kae=t&q=Remote Isn’t the <em>New</em> Normal, It Always Was">Remote Isn’t the <em>New</em> Normal, It Always Was</a></h1>
  <h2 id=subtitle>Forget About Crusty ’Ol Google, Look at GitLab</h2>
  <p>Everyone’s talking about how COVID is creating a “new normal” in work-from-home business models, but the fact is working remotely has <em>been</em> normal for more than a decade for several well-established companies such as IBM and newer ones like GitLab. Forget about crusty ’ol broken business models like Google. Look at modern companies like GitLab whose innovated business approaches have made it the subject of a <a href="https://store.hbr.org/product/gitlab-and-the-future-of-all-remote-work-a/620066">study by the Harvard Business Review.</a> Companies and individuals unable to create value from those working remotely are increasingly paying a very real price in available talent and work-life balance.</p>
  <p>The same goes for <em>most</em> tech education. Those learning in other cities, states and countries from their professors and mentors. This provides additional access to people in non-metropolitan areas or even in other countries. The quality of education is absolutely the same even if certain people prefer being face-to-face.</p>
  <p>In fact, for many educational organizations like <a href="https://duck.com/lite?kae=t&amp;q=WGU">WGU</a> and <a href="https://skilstak.io" class="spy">SkilStak</a> it is core value and priority that people learn to get past requiring face-to-face contact in order to manage their own learning as an <a href="/what/autodidact/">autodidact</a>. This is why educators have a fundamental responsibility to help those in their charge practice working on things remotely.</p>
  <p>While many may disagree with this priority and value it remains an object reality more now than ever. Best get used to it. Working and learning remotely is not just the new normal. It <em>is</em> normal.</p>
</main>
<footer>
  <p><a href="/copyright/" id=copyright>© 2020 Rob Muhlestein. Licensed under Creative Commons Attribution-ShareAlike.</a><br/>Does something seem to have changed? <a href="/changes/">Check the change log</a>.
  <br>See something wrong? <a class="nodecor" href="https://gitlab.com/rwx.gg/README/-/issues">Open a ticket</a>.
  </p>
</footer>
<script src="/assets/main.js"></script>
</body>
</html>