<!doctype html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/png">
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <!-- link rel="shortcut icon" href="/assets/img/logo.png" type="image/png"-->
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
<header class=nav-bar>
  <nav>
    <div class=sidebar-button></div>
    <!--div id=bwtoggle></div-->
    <a class="homelink spy" href="/">r<span class=hideable>wx.gg</span></a>
    <div class="nav-right">
      <!-- div id=search-box></div -->
      <ul class=nav-links>
        <li class=nav-item><a class=nav-link href="/boost/">Boosts</a></li>
        <!--
        <li class=nav-item><a class=nav-link href="/how/">HowTos</a></li>
        <li class=nav-item><a class=nav-link href="/contrib/">Contribute</a></li>
        -->
        <li class=nav-item><a class="nav-link" href="https://gitlab.com/rwx.gg/README">GitLab</a></li>
        <li class=nav-item><a class="nav-link" href="https://www.youtube.com/rwxrob">YouTube</a></li>
        <li class=nav-item><a class="nav-link" href="https://discord.gg/9wydZXY">Discord</a></li>
        <li class=nav-item><a class="nav-link" href="https://twitch.tv/rwxrob">Twitch</a></li>
      </ul>
    </div>
  </nav>
</header>
<main id=top>
<div class=container>  <h1 id="free-forever">Free Forever</h1>
                       <p>The best things in life should be free, forever. Hording knowledge, love, and learning to make a buck is just wrong on so many levels.</p>
                       <p>Sure everyone should be paid for what they do, but if what they do is create new ideas or help others develop new ideas then frankly they should be paid for their time and effort to help others acquire those ideas, but <em>not</em> for the idea itself. Ideas cannot be owned.</p>
                       <p>I believe this extends to the very capturing of the ideas themselves, to the books, videos, and other forms of communicating the idea. It is not that the time to produce them and curate them is not valuable enough to pay for, its that by placing a dollar value on it you automatically eliminate entire populations and demographics from being exposed to those ideas. The worst of all are those who require their collections of other people’s ideas to be only available as printed books with high price tags.</p>
                       <p>Thankfully the world is waking up to this reality.</p>
                       <blockquote>
                       <p><strong><em>You will never be asked to pay for any of this content.</em></strong> Only for my time to help you understand it and learn from it in person.</p>
                       </blockquote>
</main>
<footer>
  <p><a href="/copyright/" id=copyright>© 2020 Rob Muhlestein. Licensed under Creative Commons Attribution-ShareAlike.</a><br/>Does something seem to have changed? <a href="/changes/">Check the change log</a>.
  <br>See something wrong? <a class="nodecor" href="https://gitlab.com/rwx.gg/README/-/issues">Open a ticket</a>.
  </p>
</footer>
<script src="/assets/main.js"></script>
</body>
</html>